<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
  </head>
  <body id="body">
    <div class="jumbotron" style="background-color: #dff0d8;">
      <h1 class="display-3 text-center">TRASTEANDO CON VUE</h1>
    </div>

    <div id="app">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#data" role="tab">Vue Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#user" role="tab">Current User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#favorites" role="tab">Favorite Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#binding" role="tab">2 Way Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#list" role="tab">List</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <!-- --------------------------- VUE DATA ------------------------------------ -->
        <div class="tab-pane active" id="data" role="tabpanel">
          <div class="jumbotron" style="background-color: darkgray;">
            DATA
            <pre>
              {{ $data | json}}
            </pre>
          </div>
        </div>

        <!-- --------------------------- CURRENT USER ------------------------------------ -->
        <div class="tab-pane" id="user" role="tabpanel">
          <div class="text-center">
            <p class="badge badge-info">id: {{user.id}}</p>
            <br>
            <p class="badge badge-info">email: {{user.email}}</p>
          </div>
        </div>

        <!-- --------------------------- FAVORITE RESOURCES ------------------------------------ -->
        <div class="tab-pane" id="favorites" role="tabpanel">
          <ul v-for="favorite in favorites" v-if="favorites" style="list-style-type: none">
            <li>
              <pre class="badge badge-warning">
                {{favorite.url}}&nbsp;&nbsp;
              </pre>
              <pre class="badge badge-warning">
                {{favorite.short_description}}
              </pre>
            </li>
          </ul>
        </div>

        <!-- --------------------------- 2 WAY DATA BINDING ------------------------------------ -->
        <div class="tab-pane" id="binding" role="tabpanel">
          {{nombre}}
          <br>
          <input type="text" v-model="nombre">
        </div>

        <!-- --------------------------- LIST ------------------------------------ -->
        <div class="tab-pane" id="list" role="tabpanel">
          <ul v-for="friend in friends">
            <li>
              {{friend.nombre}}
            </li>
          </ul>
          <hr>
          <input type="text" v-model="friend">
          <input type="submit" value="new friend" v-on:click="addFriend(friend)">
        </div>
      </div>
      
    </div> <!--  end of Vue instance container -->


  </body>
</html>