<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
  </head>
  <body id="body">
    <div class="jumbotron" style="background-color: #dff0d8;">
      <h1 class="display-3 text-center">TRASTEANDO CON VUE</h1>
    </div>

    <div id="app">
      {{nombre}}
    </div>

  </body>
</html>