<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
  </head>
  <body id="body">
    <div class="jumbotron" style="background-color: #dff0d8;">
      <h1 class="display-3 text-center">TRASTEANDO CON VUE</h1>
    </div>

    <div id="app">
      <div class="text-center">
        <p class="badge badge-info">id: {{user.id}}</p>
        <p class="badge badge-info">email: {{user.email}}</p>
      </div>

      <ul v-for="favorite in favorites" v-if="favorites" style="list-style-type: none">
        <li>
          <pre class="badge badge-warning">
            {{favorite.url}}&nbsp;&nbsp;
          </pre>
          <pre class="badge badge-warning">
            {{favorite.short_description}}
          </pre>
        </li>
      </ul>
      
    </div>

  </body>
</html>