<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Webpack</title>
  </head>
  <body id="body">
    <div class="jumbotron" style="background-color: #dff0d8;">
      <h1 class="display-3 text-center">WEBPACK</h1>
    </div>

    <div id="app">
      
    </div> <!--  end of Vue instance container -->

  </body>
</html>
